//Colors
$brand-color: #313567;

//layout
$XL: "only screen and (max-width : 1680px)";
$LG: "only screen and (max-width : 1080px)";
$Mid: "only screen and (max-width : 840px)";
$Small: "only screen and (max-width : 736px)";
